/*Encabezado*/
.container-encabezado {
  width: 100%;
  padding: 30px;
}

.container-info-periodo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  border-radius: 10px;
}

.title-position {
  align-self: flex-start;
}

.matriz-form__title {
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
}
.form-control {
  color: #000000;
  font-size: 16px;
  border: 1px solid rgba(145, 145, 145, 0.7);
}

.form-select {
  border: 1px solid rgba(145, 145, 145, 0.7);
}


.container-cards-periodo {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 15px;
  color: black;
}

.card-style {
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.card-header-periodo {
  height: auto;
  margin: 0;
  padding: 10px;
  background-color: #0026ff60;
}

.card-body-periodo {
  padding: 15px;
}
/*Fin encabezado riesgo*/

/*Form ingreso de plan*/
.container-body-plan {
  padding: 0px 30px;
}

.container_form_plan {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.container_form_plan > form {
  width: 70%;
}

.fechas-plan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.fechaFin-container {
  justify-self: end;
}

.input-group-append {
  height: 50px;
}
.inputs-fechas {
  height: 50px;
  width: 220px;
}

.container-inputs-ingresoPlan {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.btn-size {
  width: 245px;
  margin: 0;
}
/*Fin form ingreso Plan*/
.title-inputs-periodo {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.matriz-form__title {
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
}
.inputs-perido {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  gap: 30px;
}
.input-unidad {
  width: 600px;
}
.obligatorio {
  color: red;
}


.btn-terminar-registro {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btns-ingreso-plan {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.th-display {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-delete {
  /* background-image: url('../../../../../assets/img/icons/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-table-coImple {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-form-co-re {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 7px;
  padding: 30px 30px;
}

.container-inputs-controles {
  display: flex;
  justify-content: center;
}

.container-inputs-textbox {
  width: 800px;
}
.container-inputs-textbox-controles {
  width: 800px;
  background: white;
  padding: 5px;
  border-radius: 0.375rem;
}

.container-btn-agregar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.container-btn {
  position: relative;
}

.btn-float {
  position: absolute;
  top: calc(100% - 10px);
  right: calc(100% - 25px);
  border-radius: 100%;
  font-size: 18px;
  font-weight: bold;

}
.btn-float-controles {
  position: absolute;
  top: calc(100% - 50px);
  right: calc(100% - 25px);
  border-radius: 100%;
  font-size: 18px;
  font-weight: bold;

}

.font-text-table {
  font-size: 14px;
  font-weight: 500;
}

.container-ingreso-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.container-plan-trabajo{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title-ingreso-plan {
  align-self: flex-start;
  margin-bottom: 15px;
}


.container-inputs-plan {
  width: 600px;
}

.container-controles-imple {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.container-imple-tabla-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
