.container-matriz {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title-inputFilter {
  padding: 50px 40px 10px;
}

.matrizFormFilter {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);
  justify-items: center;
  gap: 4px;
}

.matriz-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 50px;
}

select {
  width: 100%;
  font-size: 16px;
}
.busquedaAnio {
  color: #ACACAC;
}

.matriz-form__btns {
  display: flex;
  justify-content: start;
  align-items: center;
}

.matriz-form__title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.btn-size {
  width: 245px;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-plan-search {
  color: white;
}

.btn-delete {
  /* background-image: url('../../../../../assets/img/icons/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px; */
  display: flex;
  align-items: center;
  justify-content: center;
}



.options-icons {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-add-plan {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}


.table-matriz {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 40px;
}

.table-header-matriz {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);

  justify-items: center;
  gap: 4px;
}

.table-header-matriz > div {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgba(0, 38, 255, 0.3);
}

.table-body-matriz {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);
  justify-items: center;
  gap: 4px;
}

.table-body-matriz:hover {
  color: black;
  box-shadow: none;
  background-color: rgba(172, 172, 172, 0.2);
}

.table-body-matriz > div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.header-title {
  color: #2b2b2b;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 840px) {
  .inputs-select-styles {
    width: 300px;
  }
  .container-btn {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .container-btn > button {
    margin: 0;
    width: 300px;
  }
  .matriz-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
