<div class="container-encabezado">
  <div class="container-info-periodo">
    <div class="title-position">
      <h2 class="matriz-form__title">Periodo evaluado</h2>
    </div>
    <div class="container-cards-periodo">
      <div class="card card-style">
        <div class="card-header card-header-periodo bg-info text-black">
          Unidad Ejecutora:
        </div>
        <div class="card-body card-body-periodo text-black">
          {{concatCodigoUnidad}}
        </div>
      </div>
      <div class="card card-style">
        <div class="card-header card-header-periodo bg-info text-black">
          Fecha inicio:
        </div>
        <div class="card-body card-body-periodo text-black">
          {{matrizEncontrada.fecha_periodo_inicio | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="card card-style">
        <div class="card-header card-header-periodo bg-info text-black">
          Fecha fin:
        </div>
        <div class="card-body card-body-periodo text-black">
          {{matrizEncontrada.fecha_periodo_fin | date: 'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_form_riesgos ">
  <form class="container_form_form" [formGroup]="formCreateRiesgo">
    <h2 class="matriz-form__title mb-3">Ingreso de riesgo</h2>
    <div class="row justify-content-center">
      <div class="col-6 double-inputs-form mt-1">
        <div class="inputs-size">
          <label for="inputTipoObjetivo" class="form-label">Tipo de objetivo<span class="obligatorio">*</span></label>
          <select id="inputTipoObjetivo" name="inputTipoObjetivo" class="form-select"
            formControlName="id_tipo_objetivo">
            <option *ngFor="let tipoObjetivo of tipoObjetivos" [value]="tipoObjetivo.id_tipo_objetivo">
              {{tipoObjetivo.descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="col-6 mt-1">
        <label for="inputArea" class="form-label">Área evaluada<span class="obligatorio">*</span></label>
        <select id="inputArea" name="inputArea" class="form-select" formControlName="id_area_evaluada">
          <option *ngFor="let area of areas_evaluadas" [value]="area.id_area_evaluada">
            {{area.descripcion}}</option>
        </select>
      </div>


      <div class="col-12 mt-4">
        <label for="inputEventos" class="form-label">Eventos identificados<span class="obligatorio">*</span></label>
        <textarea id="inputEventos" name="inputEventos" class="form-control" rows="4"
          formControlName="id_eventos_identificados"></textarea>
      </div>
      <div class="col-12 mt-4">
        <label for="descripcionRiesgo" class="form-label">Descripción de riesgo<span
            class="obligatorio">*</span></label>
        <textarea formControlName="descripcion_riesgo" id="descripcionRiesgo" name="descripcionRiesgo"
          class="form-control" rows="4"></textarea>
      </div>
      <div class="col-12 mt-4 double-inputs-form">
        <div class="inputs-size">
          <label for="inputProbabilidad" class="form-label">Probabilidad<span class="obligatorio">*</span></label>
          <select id="inputProbabilidad" name="inputProbabilidad" class="form-select" formControlName="id_probabilidad">

            <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
              {{probabilidad.nivel_probabilidad}}</option>
          </select>
        </div>
        <div class="inputs-size">
          <label for="inputSeveridad" class="form-label">Severidad<span class="obligatorio">*</span></label>
          <select id="inputSeveridad" name="inputSeveridad" class="form-select" formControlName="id_severidad">

            <option *ngFor="let severidad of severidades" [value]="severidad.id_severidad">
              {{severidad.nivel_severidad}}</option>
          </select>
        </div>
        <div class="inputs-size">
          <label for="riesgoRI" class="form-label">Riesgo Inherente (RI)</label>
          <input [disabled]="true" id="riesgoRI" name="riesgoRI" type="number" class="form-control"
            [value]="resultadoRI">
        </div>
      </div>
      <div class="col-12 mt-4 double-inputs-form">
        <div class="inputs-size">
          <label for="valorMitigador" class="form-label">Control Mitigador<span class="obligatorio">*</span></label>
          <select *ngIf="showBtnControlP || showBtnControlI; else elseIfSelect" [disabled]="true" id="valorMitigador"
            name="valorMitigador" class="form-select" formControlName="id_control_mitigador">
            <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
              {{probabilidad.nivel_probabilidad}}</option>
          </select>
          <ng-template #elseIfSelect>
            <select id="valorMitigador" name="valorMitigador" class="form-select"
              formControlName="id_control_mitigador">
              <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
                {{probabilidad.nivel_probabilidad}}</option>
            </select>
          </ng-template>
        </div>
        <div class="inputs-size">
          <label for="riesgoRR" class="form-label">Riesgo Residual (RR)</label>
          <input [disabled]="true" id="riesgoRR" name="riesgoRR" type="number" class="form-control"
            [value]="resultadoRR">
        </div>
        <div class="inputs-size">
          <label for="inputMedida" class="form-label">Medida de Riesgo<span class="obligatorio">*</span></label>
          <input [disabled]="true" id="inputMedida" name="inputMedida" class="form-control btn-medida" type="text"
            [value]="medidaRiesgoInput">
        </div>
      </div>
      <div class="col-12  mt-4">
        <form [formGroup]="formCreateControlInterno">
          <div>
            <div class="mt-1">
              <div class="container-btn-add">
                <label for="inputDescripcionInterno" class="form-label">Controles internos para mitigar<span
                    class="obligatorio">*</span></label>
                <div class="container-btn-plus">
                  <button [disabled]="formCreateControlInterno.invalid" type="button"
                    class="btn btn-primary btn-size-complement btn-float" (click)="pushControlInterno()">+</button>
                </div>
              </div>
              <textarea id="inputDescripcionInterno" name="inputDescripcionInterno" class="form-control"
                formControlName="descripcion" rows="4"></textarea>
            </div>
          </div>
        </form>
        <div *ngIf="controlInternoMemory.length > 0" class="table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let controlInt of controlInternoMemory">
                <th scope="row th-display">
                  <div class="btn-delete">
                    <button class="btn btn-sm btn-danger btn-size-card"
                      (click)="deleteControlInterno(controlInt.descripcion)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
                <td class="pt-3 text-dark font-text-table">
                  <div class="select-control-mitigador">
                    {{controlInt.descripcion}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 mt-4">
        <label for="txt_observaciones" class="form-label">Observaciones</label>
        <textarea formControlName="observaciones" id="txt_observaciones" name="txt_observaciones" class="form-control"
          rows="4"></textarea>
      </div>
    </div>
    <div class="container-btn-ingreso mt-5">
      <button type="button" class="btn btn-danger btn-size" [routerLink]="routerLinkRiesgo"><i class="fa fa-ban"
          aria-hidden="true"></i> Cancelar</button>
      <button (click)="validarFormularioRiesgo()" type="button" class="btn btn-primary btn-size"><i
          class="fa fa-arrow-right" aria-hidden="true"></i> Plan de
        trabajo</button>
    </div>
  </form>
</div>
