<div class="row">
  <div class="col-auto">
    <h1 class="display-3">Administración de Usuarios</h1>
  </div>
  <div class="col-auto mt-1">
    <div class="icon icon-shape bg-primary text-white rounded-circle shadow" data-bs-toggle="modal"
      data-bs-target="#nuevoUsuarioModal">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let u of usuarios">
    <div class="col-sm-4">
      <div class="card card-stats mb-4 mb-lg-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h4 font-weight-bold mb-0"><i class="fa fa-user"></i> {{ u.usuario }}</span>
              <br>
              <span class="text-nowrap mr-2"> {{ u.apellidos }}, {{ u.nombres }}</span>
              <br>
              <span class="text-nowrap mr-2"><i class="fa fa-id-card"></i> {{ u.cui }}</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow"
                (click)="buscarUsuarioParaActualizar(u)">
                <i class="fas fa-pencil"></i>
              </div>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow"
                (click)="eliminarUsuario(u.id_usuario)">
                <i class="fas fa-trash"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="nuevoUsuarioModal" tabindex="-1" aria-labelledby="nuevoUsuarioModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="nuevoUsuarioModalLabel">Nuevo Usuario</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="ingresoUsuarioCloseButton"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Rol<span class="obligatorio">*</span></label>
              <select [(ngModel)]="id_rol" class="form-control form-control-alternative">
                <option value="-1">- Seleccione una Opción -</option>
                <option *ngFor="let r of roles" value="{{ r.id_rol }}">{{ r.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Usuario<span class="obligatorio">*</span></label>
              <input [(ngModel)]="usuario" type="text" class="form-control form-control-alternative"
                placeholder="Usuario" mask="S*">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Contraseña<span class="obligatorio">*</span></label>
              <input [(ngModel)]="password" type="password" class="form-control form-control-alternative"
                placeholder="Contraseña">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Confirmar Contraseña<span class="obligatorio">*</span></label>
              <input [(ngModel)]="cpassword" type="password" class="form-control form-control-alternative"
                placeholder="Confirmar Contraseña">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Nombres<span class="obligatorio">*</span></label>
              <input [(ngModel)]="nombres" type="text" class="form-control form-control-alternative"
                placeholder="Usuario" [dropSpecialCharacters]="false" mask="S* S* S* S* S*">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Apellidos<span class="obligatorio">*</span></label>
              <input [(ngModel)]="apellidos" type="text" class="form-control form-control-alternative"
                placeholder="Apellidos" [dropSpecialCharacters]="false" mask="S* S* S* S* S*">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">CUI/DPI<span class="obligatorio">*</span></label>
              <input [(ngModel)]="cui" type="text" class="form-control form-control-alternative" placeholder="CUI/DPI"
                mask="0{13}">
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block" (click)="nuevoUsuario()"> Registrar Usuario
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-danger btn-block" data-bs-dismiss="modal"> Regresar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button [hidden]="true" id="mostrarModalEditar" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal"></button>
<div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="editarUsuarioCloseButton"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Rol<span class="obligatorio">*</span></label>
              <select [(ngModel)]="id_rol" class="form-control form-control-alternative">
                <option value="-1">- Seleccione una Opción -</option>
                <option *ngFor="let r of roles" value="{{ r.id_rol }}">{{ r.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Usuario<span class="obligatorio">*</span></label>
              <input [(ngModel)]="usuario" type="text" class="form-control form-control-alternative"
                placeholder="Usuario" mask="S*" disabled>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Contraseña<span class="obligatorio">*</span></label>
              <input [(ngModel)]="password" type="password" class="form-control form-control-alternative"
                placeholder="***********">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Confirmar Contraseña<span class="obligatorio">*</span></label>
              <input [(ngModel)]="cpassword" type="password" class="form-control form-control-alternative"
                placeholder="***********">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Nombres<span class="obligatorio">*</span></label>
              <input [(ngModel)]="nombres" type="text" class="form-control form-control-alternative"
                placeholder="Usuario" [dropSpecialCharacters]="false" mask="S* S* S* S* S*">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Apellidos<span class="obligatorio">*</span></label>
              <input [(ngModel)]="apellidos" type="text" class="form-control form-control-alternative"
                placeholder="Apellidos" [dropSpecialCharacters]="false" mask="S* S* S* S* S*">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">CUI/DPI<span class="obligatorio">*</span></label>
              <input [(ngModel)]="cui" type="text" class="form-control form-control-alternative" placeholder="CUI/DPI"
                mask="0{13}">
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block" (click)="actualizarUsuario()"> Actualizar Usuario
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-danger btn-block" data-bs-dismiss="modal"> Regresar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>