<div class="title-btns mt-5">
  <h1>Matriz evaluación de riesgos</h1>
  <div class="btn-table-riesgo">
    <button class="btn btn-danger mt-3" routerLink="/admin/matriz"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      Regresar</button>
    <button class="btn btn-success mt-3" [routerLink]="linkMatrizPeriodos"><i class="fa fa-plus" aria-hidden="true"></i>
      Nuevo
      riesgo</button>
  </div>
</div>
<div class="table-responsive mt-2">
  <table *ngIf="showTablePlanesTrabajo" class="mt-3 table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">Opciones</th>
        <th scope="col">Codigo referencia</th>
        <th scope="col">Descripción</th>
        <th scope="col">R.I</th>
        <th scope="col">R.R</th>
        <th scope="col">Medida riesgo</th>
        <th scope="col">Plan asignado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let riesgo of riesgos">
        <th scope="row th-display">
          <div class="options-icons">
            <span (click)="deleteRiesgo(riesgo.id_riesgo)" class="btn-delete"></span>
            <span (click)="editRiesgo(riesgo.id_riesgo)" class="btn-edit" data-bs-toggle="modal"
              data-bs-target="#riesgoModal"></span>
          </div>
        </th>
        <td class="pt-3">{{riesgo.codigo_referencia}}</td>
        <td class="">
          <div class="descripcion__stl">
            {{riesgo.descripcion_riesgo}}
          </div>
        </td>
        <td class="pt-3">{{riesgo.riesgo_inherente}}</td>
        <td class="pt-3">{{riesgo.riesgo_residual}}</td>
        <td class="pt-3">{{riesgo.medida_riesgo}}</td>
        <td>
          <div class="container-add-plan">
            <button class="btn btn_primary bg-primary btn-sm btn-plan-search" data-bs-toggle="modal"
              data-bs-target="#planModal" (click)="editPlanTrabajoControlesRecursos(riesgo.id_riesgo)">Plan de
              trabajo</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Modal Actualizar Riesgo -->
<div class="modal fade" id="riesgoModal" tabindex="-1" aria-labelledby="riesgoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="riesgoModalLabel">Actualizar riesgo</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="container_form_form" [formGroup]="formUpdateRiesgo">
          <div class="row justify-content-center">
            <div class="col-12 double-inputs-form mt-1">
              <div class="inputs-size">
                <label for="inputTipoObjetivo" class="form-label">Tipo de objetivo</label>
                <select id="inputTipoObjetivo" name="inputTipoObjetivo" class="form-select"
                  formControlName="id_tipo_objetivo">
                  <option *ngFor="let tipoObjetivo of tipoObjetivos" [value]="tipoObjetivo.id_tipo_objetivo">
                    {{tipoObjetivo.descripcion}}</option>
                </select>
              </div>

              <div
                *ngIf="tipoObjetivoEncontrado.id_tipo_objetivo === riesgoEncontrado.id_tipo_objetivo; else elseCodigoReferencia"
                class="inputs-size mt-3">
                <label for="inputReferenciaShow" class="form-label">Codigo de referencia</label>
                <input [disabled]="true" id="inputReferenciaShow" name="inputReferenciaShow" class="form-control"
                  type="text" [value]="riesgoEncontrado.codigo_referencia">
              </div>
              <ng-template #elseCodigoReferencia>
                <div class="inputs-size mt-3">
                  <label for="inputReferencia" class="form-label">Codigo de referencia</label>
                  <input [disabled]="true" id="inputReferencia" name="inputReferencia" class="form-control" type="text"
                    formControlName="codigo_referencia" [value]="codigoReferenciaToInput">
                </div>
              </ng-template>
            </div>
            <div class="col-12 mt-4">
              <label for="inputArea" class="form-label">Área evaluada</label>
              <select id="inputArea" name="inputArea" class="form-select" formControlName="id_area_evaluada">
                <option *ngFor="let area of areas_evaluadas" [value]="area.id_area_evaluada">
                  {{area.descripcion}}</option>
              </select>
            </div>
            <div class="col-12 mt-4">
              <label for="inputEventos" class="form-label">Eventos identificados</label>
              <textarea id="inputEventos" name="inputEventos" class="form-control" rows="4"
                formControlName="id_eventos_identificados"></textarea>
            </div>
            <div class="col-12 mt-4">
              <label for="descripcionRiesgo" class="form-label">Descripción de riesgo</label>
              <textarea formControlName="descripcion_riesgo" id="descripcionRiesgo" name="descripcionRiesgo"
                class="form-control" rows="4"></textarea>
            </div>
            <div class="col-12 mt-4 double-inputs-form">
              <div class="inputs-size">
                <label for="inputProbabilidad" class="form-label">Probabilidad</label>
                <select id="inputProbabilidad" name="inputProbabilidad" class="form-select"
                  formControlName="id_probabilidad">

                  <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
                    {{probabilidad.nivel_probabilidad}}</option>
                </select>
              </div>
              <div class="inputs-size">
                <label for="inputSeveridad" class="form-label">Severidad</label>
                <select id="inputSeveridad" name="inputSeveridad" class="form-select" formControlName="id_severidad">

                  <option *ngFor="let severidad of severidades" [value]="severidad.id_severidad">
                    {{severidad.nivel_severidad}}</option>
                </select>
              </div>
              <div class="inputs-size">
                <label for="riesgoRI" class="form-label">Riesgo Inherente (RI)</label>
                <input [disabled]="true" formControlName="riesgo_inherente" id="riesgoRI" name="riesgoRI" type="number"
                  class="form-control" [value]="resultadoRI">
              </div>
            </div>
            <div class="col-12 mt-4 double-inputs-form">
              <div class="inputs-size">
                <label for="valorMitigador" class="form-label">Control Mitigador</label>
                <select *ngIf="showBtnControlP || showBtnControlI; else elseIfSelect" [disabled]="true"
                  id="valorMitigador" name="valorMitigador" class="form-select" formControlName="id_control_mitigador">
                  <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
                    {{probabilidad.nivel_probabilidad}}</option>
                </select>
                <ng-template #elseIfSelect>
                  <select id="valorMitigador" name="valorMitigador" class="form-select"
                    formControlName="id_control_mitigador">
                    <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
                      {{probabilidad.nivel_probabilidad}}</option>
                  </select>
                </ng-template>
              </div>
              <div class="inputs-size">
                <label for="riesgoRR" class="form-label">Riesgo Residual (RR)</label>
                <input [disabled]="true" formControlName="riesgo_residual" id="riesgoRR" name="riesgoRR" type="number"
                  class="form-control" [value]="resultadoRR">
              </div>
              <div class="inputs-size">
                <label for="inputMedida" class="form-label">Medida de Riesgo</label>

                <select [disabled]="true" id="inputMedida" name="inputMedida" class="form-control"
                  formControlName="id_medida_riesgo">

                  <option *ngFor="let medida of medidasRiesgo" [value]="medida.id_medida_riesgo">
                    {{medida.descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 mt-4">
              <label for="txt_observaciones" class="form-label">Observaciones</label>
              <textarea formControlName="observaciones" id="txt_observaciones" name="txt_observaciones"
                class="form-control" rows="4"></textarea>
            </div>



            <div class="col-12 mt-4">
              <h3>Controles internos para mitigar</h3>
              <form [formGroup]="formUpdateControlInterno">
                <div class="row justify-content-center">
                  <div class="container-table-coImple">
                    <div>
                      <div>
                        <button type="button" class="btn btn-success btn-sm mb-2" (click)="mostrarCamposInterno()"><i
                            class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
                      </div>
                    </div>
                    <div *ngIf="controlesInternosObtenidos.length > 0" class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Opciones</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let internos of controlesInternosObtenidos">
                            <th scope="row th-display">
                              <div class="options-icons">
                                <span (click)="deleteInternoInMemoryTablaGet(internos.id_riesgo_control_interno)"
                                  class="btn-delete"></span>
                              </div>
                            </th>
                            <td class="pt-3 text-dark font-text-table">{{internos.descripcion}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="internosMemory.length > 0" class="table-responsive">
                      <h5>Nuevos controles para agregar:</h5>
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let internosM of internosMemory">
                            <th scope="row th-display">
                              <div class="options-icons">
                                <span (click)="deleteInternoInMemory(internosM.descripcion)" class="btn-delete"></span>
                              </div>
                            </th>
                            <td class="pt-3 text-dark font-text-table">{{internosM.descripcion}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="showInputsModalInterno" class="row">
                    <div class="col-12">
                      <form [formGroup]="formUpdateControlInterno">
                        <div>
                          <div class="mt-1">
                            <label for="inputRecurso" class="form-label">Descripción:</label>
                            <textarea id="inputRecurso" name="inputRecurso" class="form-control"
                              formControlName="descripcion" rows="4"></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-12">
                      <div class="conatiner-btn-agregar">
                        <button type="button" class="btn btn-primary btn-sm mb-2" (click)="addInternoInMemory()"><i
                            class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>





          </div>




          <div class="btns-modal mt-5">
            <div>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button [disabled]="formUpdateRiesgo.invalid" type="submit" class="btn btn-primary btn-size"
                (click)="updateRiesgo()" data-bs-dismiss="modal">Actualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal Actualizar Plan controles y recursos -->
<div class="modal fade" id="planModal" tabindex="-1" aria-labelledby="planModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Plan de trabajo, controles y recursos</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mb-5">
        <div *ngIf="validarExistenciaPlan.id_prioridad; else ingresarPlanTrabajo">
          <!-- ------Planes------------- -->
          <h3>Plan de trabajo:</h3>
          <form [formGroup]="formUpdatePlan">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-4 mt-1">
                <label for="inputFechaInicio" class="form-label">Fecha inicio:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="Ingresar fecha" type="date" name="inputFechaInicio"
                    id="inputFechaInicio" formControlName="fecha_inicio" />
                </div>
              </div>
              <div class="col-6 col-lg-4 mt-1">
                <label for="inputFechaFin" class="form-label">Fecha fin:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="Ingresar fecha" id="inputFechaFin" type="date"
                    formControlName="fecha_fin" />
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-6 col-lg-4 mt-1">
                <label for="inputPrioridad" class="form-label">Prioridad</label>
                <select id="inputPrioridad" name="inputPrioridad" class="form-select" formControlName="id_prioridad">
                  <option value="" selected></option>
                  <option *ngFor="let prioridad of prioridades" [value]="prioridad.id_prioridad">
                    {{prioridad.descripcion_prioridad}}</option>
                </select>
              </div>
              <div class="col-6 col-lg-4 mt-1">
                <label for="inputPuesto" class="form-label">Puesto responsable</label>
                <select id="inputPuesto" name="inputPuesto" class="form-select" formControlName="id_puesto_responsable">
                  <option value="" selected></option>
                  <option *ngFor="let puesto of puestos" [value]="puesto.id_puesto_responsable">
                    {{puesto.descripcion}}</option>
                </select>
              </div>
              <div class="col-6 col-lg-8 mt-1">
                <label for="comentarioTxt" class="form-label">Comentario</label>
                <textarea formControlName="comentario" id="comentarioTxt" name="comentarioTxt" class="form-control"
                  rows="4"></textarea>
              </div>
            </div>
          </form>

          <!-- ---------Controles--------- -->
          <h3>Controles:</h3>
          <form [formGroup]="formUpdateControlImplementacion" class="mb-5">
            <div class="row justify-content-center">
              <div class="container-table-coImple">
                <div>
                  <div>
                    <button type="button" class="btn btn-success btn-sm mb-2" (click)="mostrarCampos()"><i
                        class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
                  </div>
                </div>

                <div *ngIf="controlesImplementacionObtenidos.length > 0" class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Que:</th>
                        <th scope="col">Como:</th>
                        <th scope="col">Quien:</th>
                        <th scope="col">Cuando</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ctImplementacion of controlesImplementacionObtenidos">
                        <th scope="row th-display">
                          <div class="options-icons">
                            <span (click)="deleteControlInMemoryTablaGet(ctImplementacion.id_implementacion)"
                              class="btn-delete"></span>
                          </div>
                        </th>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.que}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.como}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.quien}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.cuando}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="controlesMemory.length > 0" class="table-responsive mt-0">
                  <h5>Nuevos controles para agregar:</h5>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Que:</th>
                        <th scope="col">Como:</th>
                        <th scope="col">Quien:</th>
                        <th scope="col">Cuando</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ctImplementacion of controlesMemory">
                        <th scope="row th-display">
                          <div class="options-icons">
                            <span
                              (click)="deleteControlInMemory(ctImplementacion.que, ctImplementacion.como, ctImplementacion.quien, ctImplementacion.cuando)"
                              class="btn-delete"></span>
                          </div>
                        </th>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.que}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.como}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.quien}}
                          </div>
                        </td>
                        <td class="pt-3 text-dark font-text-table">
                          <div class="table-width">
                            {{ctImplementacion.cuando}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="showInputsModalController" class="row">
                <div class="col-12">
                  <form [formGroup]="formUpdateControlImplementacion">
                    <div class="row">
                      <div class="col-6 mt-2">
                        <label for="inputQue" class="form-label">Que:</label>
                        <textarea id="inputQue" name="inputQue" class="form-control" formControlName="que"
                          rows="4"></textarea>
                      </div>
                      <div class="col-6 mt-2">
                        <div class="container-btn-add">
                          <label for="inputComo" class="form-label">Como:</label>
                        </div>
                        <textarea id="inputComo" name="inputComo" class="form-control" formControlName="como"
                          rows="4"></textarea>
                      </div>
                      <div class="col-6 mt-2">
                        <label for="inputQuien" class="form-label">Quien:</label>
                        <textarea id="inputQuien" name="inputQuien" class="form-control" formControlName="quien"
                          rows="4"></textarea>
                      </div>
                      <div class="col-6 mt-2">
                        <label for="inputCuando" class="form-label">Cuando:</label>
                        <textarea id="inputCuando" name="inputCuando" class="form-control" formControlName="cuando"
                          rows="4"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12">
                  <div class="conatiner-btn-agregar">
                    <button type="button" class="btn btn-primary btn-sm mb-2" (click)="addControlInMemory()"><i
                        class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- -----------Recursos------------ -->
          <h3>Recursos:</h3>
          <form [formGroup]="formUpdateRecursos">
            <div class="row justify-content-center">
              <div class="container-table-coImple">
                <div>
                  <div>
                    <button type="button" class="btn btn-success btn-sm mb-2" (click)="mostrarCamposRecursos()"><i
                        class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
                  </div>
                </div>
                <div *ngIf="recursosObtenidos.length > 0" class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Opciones</th>
                        <th scope="col">Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let recurso of recursosObtenidos">
                        <th scope="row th-display">
                          <div class="options-icons">
                            <span (click)="deleteRecursoInMemoryTablaGet(recurso.id_recursos)"
                              class="btn-delete"></span>
                          </div>
                        </th>
                        <td class="pt-3 text-dark font-text-table">{{recurso.descripcion}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="recursosMemory.length > 0" class="table-responsive">
                  <h5>Nuevos controles para agregar:</h5>
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let recurso of recursosMemory">
                        <th scope="row th-display">
                          <div class="options-icons">
                            <span (click)="deleteRecursoMemory(recurso.descripcion)" class="btn-delete"></span>
                          </div>
                        </th>
                        <td class="pt-3 text-dark font-text-table">{{recurso.descripcion}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="showInputsModalRecursos" class="row">
                <div class="col-12">
                  <form [formGroup]="formUpdateRecursos">
                    <div>
                      <div class="mt-1">
                        <label for="inputRecurso" class="form-label">Recursos:</label>
                        <textarea id="inputRecurso" name="inputRecurso" class="form-control"
                          formControlName="descripcion" rows="4"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12">
                  <div class="conatiner-btn-agregar">
                    <button type="button" class="btn btn-primary btn-sm mb-2" (click)="addRecursoMemory()"><i
                        class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="btns-modal">
            <div>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button (click)="updatePlanTrabajoControlesRecursos()" type="button" class="btn btn-primary btn-size"
                data-bs-dismiss="modal">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #ingresarPlanTrabajo>
        <div class="alert alert-dark" role="alert">
          Este riesgo no cuenta con un plan de trabajo actualmente, seleccione agregar para ingresar un nuevo plan!
        </div>
        <div class="btns-modal">
          <div class="mt-5">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button data-bs-dismiss="modal" [routerLink]="linkPlanTrabajo"
              class="btn btn-primary btn-size">Agregar</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>


<!-- <ng-template #elsePlanTrabajo>
  <div class="modal fade" id="planModal" tabindex="-1" aria-labelledby="planModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Plan de trabajo, controles y recursos</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-5">
          <div class="alert alert-dark" role="alert">
            Este riesgo no cuenta con un plan de trabajo actualmente, seleccione agregar para ingresar un nuevo plan!
          </div>
          <div class="btns-modal">
            <div class="mt-5">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button data-bs-dismiss="modal" [routerLink]="linkPlanTrabajo"
                class="btn btn-primary btn-size">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->