/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// @import '~/angular-notifier/styles.';



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// body {
//   background-color: #eaeaea !important;
// }

// footer {
//   background-color: #eaeaea !important;
// }
@import "~angular-notifier/styles.css";
textarea {
  resize: none !important;
}

table thead {
  background-color: #29548F !important;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins";
}



table thead tr th {
  color: #ffffff !important;
}

table thead tr th {
  color: #ffffff !important;
  border-left: 1px dotted #9b9b9b;
  border-right: 1px dotted #9b9b9b;
}

.form-label {
  color: black;
}

.html {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

// hr {
//   border: 1px solid black !important;
//   background-color: black;
//   color: black;
// }

.center-style {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
