/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// body {
//   background-color: #eaeaea !important;
// }

// footer {
//   background-color: #eaeaea !important;
// }

textarea {
  resize: none !important;
}

.form-label {
  color: black;
}

.html {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

// hr {
//   border: 1px solid black !important;
//   background-color: black;
//   color: black;
// }

.center-style {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
