<div class="search-container-form-create mt-5">
  <!-- Formulario de busqueda -->
  <form [formGroup]="formSearchCreateMatrizPeriodo" class="form-report">
    <!-- titulo form -->
    <div class="search__box-title">
      <div class="search__container_title">
        <h1 class="search__title">Matriz de riesgos</h1>
      </div>
    </div>
    <!-- inputs del formulario -->
    <div class="search__container-inputs">
      <div class="search__unidad-ejecutora">
        <label for="unidadFindRiesgo" class="form-label">Unidad ejecutora:</label>
        <select formControlName="id_unidad_ejecutora" id="unidadFindRiesgo" name="unidadFindRiesgo" class="form-select">
          <option *ngFor="let unidadEjecutora of unidadesEjecutoras" [value]="unidadEjecutora.id_unidad_ejecutora">
            {{unidadEjecutora.codigo_unidad + ' - ' + unidadEjecutora.nombre_unidad}}</option>
        </select>
      </div>
      <div class="search__anio-periodo">
        <label for="fInicioFindRiesgo" class="form-label">Año del periodo:</label>
        <select formControlName="id_periodo" id="periodoAnio" name="periodoAnio" class="form-select">
          <option *ngFor="let periodo of periodos" [value]="periodo.id_periodo">
            {{periodo.anio}}</option>
        </select>
      </div>
      <div class="search__container-btns">
        <div class="search__btns">
          <button class="btn btn-primary search__btn" [disabled]="formSearchCreateMatrizPeriodo.invalid" type="button"
            (click)="findMatrizPeriodo()"><i class="fa fa-search" aria-hidden="true"></i>
            Buscar
          </button>
          <button (click)="createNewMatrizPeriodo()" class="btn btn-success search__btn" type="button"><i
              class="fa fa-plus" aria-hidden="true"></i>
            Agregar periodo
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- Tabla  de riesgos-->
  <div class="search-container-table">
    <app-matriz-periodos-table [searchParams]="formSearchCreateMatrizPeriodo" [showTable]="showTablePeriodos"
      (id_matriz)=" deleteMatrizPeriodo($event)" [matriz_periodos]="matrizPeriodosEncontrados">
    </app-matriz-periodos-table>
  </div>
</div>