<div class="search-container-form-create mt-5">
  <!-- Formulario de busqueda -->
  <form [formGroup]="formSearchCreateMatrizPeriodo" class="form-report">
    <!-- titulo form -->
    <div class="search__box-title">
      <div class="search__container_title">
        <h1 class="search__title">Matriz de riesgos</h1>
      </div>
    </div>
    <!-- inputs del formulario -->
    <div class="search__container-inputs">
      <div class="search__unidad-ejecutora">
        <label for="unidadFindRiesgo" class="form-label">Unidad ejecutora:</label>
        <select formControlName="id_unidad_ejecutora" id="unidadFindRiesgo" name="unidadFindRiesgo" class="form-select">
          <option *ngFor="let unidadEjecutora of unidadesEjecutoras" [value]="unidadEjecutora.id_unidad_ejecutora">
            {{unidadEjecutora.codigo_unidad + ' - ' + unidadEjecutora.nombre_unidad}}</option>
        </select>
      </div>
      <div class="search__anio-periodo">
        <label for="fInicioFindRiesgo" class="form-label">Año del periodo:</label>
        <select formControlName="id_periodo" id="periodoAnio" name="periodoAnio" class="form-select">
          <option *ngFor="let periodo of periodos" [value]="periodo.id_periodo">
            {{periodo.anio}}</option>
        </select>
      </div>
      <div class="search__container-btns">
        <div class="search__btns">
          <button class="btn btn-primary search__btn" [disabled]="formSearchCreateMatrizPeriodo.invalid" type="button"
            (click)="findMatrizPeriodo()"><i class="fa fa-search" aria-hidden="true"></i>
            Buscar
          </button>
          <button (click)="createNewMatrizPeriodo()" class="btn btn-success search__btn" type="button"><i
              class="fa fa-plus" aria-hidden="true"></i>
            Agregar periodo
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- Tabla  de riesgos-->
  <div class="table-responsive" *ngIf="showTablePeriodos">
    <div>
      <div class="container-fluid mt-6">

        <table class="mt-3 table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col"><span class="center-style">Acciones</span></th>
              <th scope="col"><span class="center-style">Unidad ejecutora</span></th>
              <th scope="col"><span class="center-style">Fecha periodo de inicio</span></th>
              <th scope="col"><span class="center-style">Fecha periodo final</span></th>
              <th scope="col"><span class="center-style">Riesgos</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let matriz of matrizPeriodosEncontrados">
              <th scope="row th-display">
                <div class="options-icons">
                  <span (click)="deletePeriodoMatriz(matriz.id_matriz)" class="btn-delete"></span>
                </div>
              </th>
              <td class="pt-3">
                <div class="containe-unidad">
                  <span class="center-style">{{matriz.codigo_unidad_ejecutora+' -'+matriz.unidad_ejecutora}}</span>
                </div>
              </td>
              <td class="pt-3"><span class="center-style">{{matriz.fecha_periodo_inicio | date: 'dd/MM/yyyy'}}</span>
              </td>
              <td class="pt-3"><span class="center-style">{{matriz.fecha_periodo_final | date: 'dd/MM/yyyy'}}</span>
              </td>
              <td>
                <div class="container-add-plan">
                  <button class="btn btn_primary bg-primary btn-sm btn-plan-search"
                    [routerLink]="routeIngresoRiesgos+matriz.id_matriz">Ver
                    riesgos</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- <app-matriz-periodos-table [searchParams]="formSearchCreateMatrizPeriodo" [showTable]="showTablePeriodos"
      (id_matriz)="deleteMatrizPeriodo($event)" [matriz_periodos]="matrizPeriodosEncontrados">
    </app-matriz-periodos-table> -->
  </div>

</div>
