.color-tolerable {
  color: green;
}

.color-gestionable {
  color: rgb(185, 185, 46);
}

.color-no-tolerable {
  color: red;
}

.options-icons {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-add-plan {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.btn-delete {
  background-image: url('../../../assets/img/icons/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px;
  display: block;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.btn-edit {
  background-image: url('../../../assets/img/icons/editar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px;
  display: block;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.btn-table-plan {
  border: none;
  background: none;
  transition: all .1s ease-in-out;
}

.btn-table-plan:hover {
  transform: scale(1.1);
}

.btn-delete:hover {
  transform: scale(1.2);
}

.btn-edit:hover {
  transform: scale(1.2);
}

.btn-plan-search {
  color: white;
}

.btns-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}



