<!-- Ingreso de riesgos -->
<div class="container-fluid mt-5">
  <div class="row">
    <h1 class="col-12">Periodo evaluado</h1>
    <div class="row">
      <div class="col-6">
        <label for="inputUnidad" class="form-label">Unidad Ejecutora</label>
        <input [disabled]="true" type="text" class="form-control" [value]="concatCodigoUnidad">
      </div>
      <div class="col-3">
        <label for="inputUnidad" class="form-label">Fecha inicio</label>
        <input [disabled]="true" type="text" class="form-control"
          [value]="matrizEncontrada.fecha_periodo_inicio | date: 'dd/MM/yyyy'">
      </div>
      <div class="col-3">
        <label for="inputUnidad" class="form-label">Fecha fin</label>
        <input [disabled]="true" type="text" class="form-control"
          [value]="matrizEncontrada.fecha_periodo_fin | date: 'dd/MM/yyyy'">
      </div>
    </div>
  </div>
</div>
<hr class="mt-5 mb-4" />
<div class="container_form_riesgos mt-5">
  <form class="container_form_form" [formGroup]="formCreateRiesgo" (ngSubmit)="createNewRiesgo()">
    <h2 class="container__title mb-3">Ingreso de riesgo:</h2>
    <div class="row justify-content-center">

      <div class="col-12 double-inputs-form mt-1">
        <div class="inputs-size">
          <label for="inputTipoObjetivo" class="form-label">Tipo de objetivo</label>
          <select id="inputTipoObjetivo" name="inputTipoObjetivo" class="form-select"
            formControlName="id_tipo_objetivo">
            <option *ngFor="let tipoObjetivo of tipoObjetivos" [value]="tipoObjetivo.id_tipo_objetivo">
              {{tipoObjetivo.descripcion}}</option>
          </select>
        </div>
        <div class="inputs-size">
          <label for="inputReferencia" class="form-label">Codigo de referencia</label>
          <input [disabled]="true" id="inputReferencia" name="inputReferencia" class="form-control" type="text"
            formControlName="codigo_referencia" [value]="codigoReferenciaToInput">
        </div>
      </div>
      <div class="col-12 mt-4">
        <label for="inputArea" class="form-label">Área evaluada</label>
        <select id="inputArea" name="inputArea" class="form-select" formControlName="id_area_evaluada">
          <option *ngFor="let area of areas_evaluadas" [value]="area.id_area_evaluada">
            {{area.descripcion}}</option>
        </select>
      </div>
      <div class="col-12 mt-4">
        <label for="inputEventos" class="form-label">Eventos identificados</label>
        <textarea id="inputEventos" name="inputEventos" class="form-control" rows="4"
          formControlName="id_eventos_identificados"></textarea>
      </div>
      <div class="col-12 mt-4">
        <label for="descripcionRiesgo" class="form-label">Descripción de riesgo</label>
        <textarea formControlName="descripcion_riesgo" id="descripcionRiesgo" name="descripcionRiesgo"
          class="form-control" rows="4"></textarea>
      </div>
      <div class="col-12 mt-4 double-inputs-form">
        <div class="inputs-size">
          <label for="inputProbabilidad" class="form-label">Probabilidad</label>
          <select id="inputProbabilidad" name="inputProbabilidad" class="form-select" formControlName="id_probabilidad">

            <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
              {{probabilidad.nivel_probabilidad}}</option>
          </select>
        </div>
        <div class="inputs-size">
          <label for="inputSeveridad" class="form-label">Severidad</label>
          <select id="inputSeveridad" name="inputSeveridad" class="form-select" formControlName="id_severidad">

            <option *ngFor="let severidad of severidades" [value]="severidad.id_severidad">
              {{severidad.nivel_severidad}}</option>
          </select>
        </div>
        <div class="inputs-size">
          <label for="riesgoRI" class="form-label">Riesgo Inherente (RI)</label>
          <input [disabled]="true" formControlName="riesgo_inherente" id="riesgoRI" name="riesgoRI" type="number"
            class="form-control" [value]="resultadoRI">
        </div>
      </div>
      <div class="col-12 mt-4 double-inputs-form">
        <div class="inputs-size">
          <label for="valorMitigador" class="form-label">Control Mitigador</label>
          <select *ngIf="showBtnControlP || showBtnControlI; else elseIfSelect" [disabled]="true" id="valorMitigador"
            name="valorMitigador" class="form-select" formControlName="id_control_mitigador">
            <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
              {{probabilidad.nivel_probabilidad}}</option>
          </select>
          <ng-template #elseIfSelect>
            <select id="valorMitigador" name="valorMitigador" class="form-select"
              formControlName="id_control_mitigador">
              <option *ngFor="let probabilidad of probabilidades" [value]="probabilidad.id_probabilidad">
                {{probabilidad.nivel_probabilidad}}</option>
            </select>
          </ng-template>
        </div>
        <div class="inputs-size">
          <label for="riesgoRR" class="form-label">Riesgo Residual (RR)</label>
          <input [disabled]="true" formControlName="riesgo_residual" id="riesgoRR" name="riesgoRR" type="number"
            class="form-control" [value]="resultadoRR">
        </div>
        <div class="inputs-size">
          <label for="inputMedida" class="form-label">Medida de Riesgo</label>
          <input [disabled]="true" id="inputMedida" name="inputMedida" class="form-control btn-medida" type="text"
            [value]="medidaRiesgoInput">
        </div>
      </div>
      <div class="col-12  mt-4">
        <form [formGroup]="formCreateControlInterno">
          <div>
            <div class="mt-1">
              <div class="container-btn-add">
                <label for="inputDescripcionInterno" class="form-label">Controles internos para mitigar:</label>
                <div class="container-btn">
                  <button [disabled]="formCreateControlInterno.invalid" type="button"
                    class="btn btn-primary btn-size-complement btn-float" (click)="pushControlInterno()">+</button>
                </div>
              </div>
              <textarea id="inputDescripcionInterno" name="inputDescripcionInterno" class="form-control"
                formControlName="descripcion" rows="4"></textarea>
            </div>
          </div>
        </form>


        <div *ngIf="controlInternoMemory.length > 0" class="table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let controlInt of controlInternoMemory">
                <th scope="row th-display">
                  <div class="options-icons">
                    <span (click)="deleteControlInterno(controlInt.descripcion)" class="btn-delete"></span>
                  </div>
                </th>
                <td class="pt-3 text-dark font-text-table">
                  <div class="select-control-mitigador">
                    {{controlInt.descripcion}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <div class="col-12 mt-4">
        <label for="txt_observaciones" class="form-label">Observaciones</label>
        <textarea formControlName="observaciones" id="txt_observaciones" name="txt_observaciones" class="form-control"
          rows="4"></textarea>
      </div>
    </div>
    <div class="container-btn mt-5 mb-5">
      <button type="button" class="btn btn-danger btn-size" [routerLink]="routerLinkRiesgo">Cancelar</button>
      <button [disabled]="formCreateRiesgo.invalid || !(controlInternoMemory.length > 0)" type="submit"
        class="btn btn-primary btn-size">Agregar</button>
    </div>
  </form>
</div>