<!-- <div class="main-login">
  <div class="header bg-login py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-1">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Bienvenido!</h1>
            <p class="text-lead text-light">Accede con tus credenciales para ingresar al sistema de control de riesgos
              SINACIG.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt--8 pb-8" (keyup.enter)="iniciarSesion()">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0 mb">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-5">
              <small>Ingresa tus credenciales</small>
            </div>
            <div class="form-group mb-4">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input [(ngModel)]="usuario" class="form-control" placeholder="Usuario" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="password" class="form-control" placeholder="Contraseña" type="password">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4 btn-size" (click)="iniciarSesion()"><i
                  class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="login">
  <div class="header-container">
    <div class="header__imgLogo">
      <img src="../../../../../assets/img/brand/LOGOMSPAS.png" alt="">
    </div>
  </div>

  <div class="login-container" (keyup.enter)="iniciarSesion()">
    <div class="login-inputs">
      <div class="login-title">
        <h1 class="text-black">Bienvenido</h1>
        <small class="">Utiliza tus credenciales para ingresar al sistema de control de riesgos
          SINACIG.</small>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
          </div>
          <input [(ngModel)]="usuario" class="form-control" placeholder="Usuario" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input [(ngModel)]="password" class="form-control" placeholder="Contraseña" type="password">
        </div>
      </div>
      <div class="text-center mt-5">
        <button type="button" class="btn btn-primary btn-size" (click)="iniciarSesion()"><i class="fa fa-sign-in"
            aria-hidden="true"></i> Iniciar sesión</button>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div>
      <p><strong>MSPAS</strong> SIGSA-2013-2022</p>
    </div>

    <ul class="footer-items-container">
      <li class="items">
        <a href="https://www.mspas.gob.gt/index.php/institucional/acerca-del-mspas" class="nav-link"
          target="_blank">Acerca de MSPAS</a>
      </li>
      <li class="items">
        <a href="https://www.mspas.gob.gt/index.php/servicios" class="nav-link" target="_blank">Servicios</a>
      </li>
      <li class="items">
        <a href="https://www.mspas.gob.gt/noticias-mspas" class="nav-link" target="_blank">Noticias</a>
      </li>
      <li class="items">
        <a href="https://www.mspas.gob.gt/index.php/institucional/contactenos" class="nav-link"
          target="_blank">Contactenos</a>
      </li>
    </ul>

  </div>
</div>
